.Rproj.user
.Rhistory
.RData
.Ruserdata
.~*

# From specky

**/.Rhistory
*.Rproj*
*.code-workspace
**/.ipynb_checkpoints
/.luarc.json
/.quarto/
.DS_Store
**/*_cache/
**/__pycache__
todo.txt
slides/**/*_files
labs/**/*_files
_freeze
docs

# Release directories 
2204/
2210/
2304/
2505/
old_rmd_files/
specky/
test_files/
gh-pages-branch/

# Admin for particular release
#2109_Admin/